<div class="container">
  <div class="header">
    <h2>Registro de Productos</h2>
    <div class="logout">
      <button class="btn btn-danger">Cerrar sesión</button>
    </div>
  </div>

  <form>
    <div class="row">
      <div class="col">
        <label for="codigo">Código</label>
        <input type="text" class="form-control" id="codigo" placeholder="Código del Producto">
      </div>
      <div class="col">
        <label for="descripcion">Descripción</label>
        <input type="text" class="form-control" id="descripcion" placeholder="Descripción...">
      </div>
    </div>
    
    <div class="row">
      <div class="col">
        <label for="codigoProveedor">Código Proveedor</label>
        <input type="text" class="form-control" id="codigoProveedor" placeholder="Código Proveedor...">
      </div>
      <div class="col">
        <label for="ubicacion">Ubicación Física</label>
        <input type="text" class="form-control" id="ubicacion" placeholder="Ubicación...">
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label for="fechaVencimiento">Fecha de Vencimiento</label>
        <input type="date" class="form-control" id="fechaVencimiento">
      </div>
      <div class="col">
        <label for="cantidad">Cantidad</label>
        <input type="number" class="form-control" id="cantidad" placeholder="Stock...">
      </div>
    </div>

    <div class="row mt-3">
      <div class="col">
        <button class="btn btn-primary">Buscar</button>
      </div>
      <div class="col">
        <button class="btn btn-success">Actualizar</button>
      </div>
      <div class="col">
        <button class="btn btn-info">Ingresar</button>
      </div>
      <div class="col">
        <button class="btn btn-danger">Cancelar</button>
      </div>
    </div>
  </form>
</div>
